* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- HEADER --- */


.header {
    background-color: rgba(218, 165, 32, 0.392);
    padding: 15px;
    position: absolute;
    width: 100vw;

}

.header__title {
    text-align: center;
    
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo img{
    padding: 5px;
    width: 70px;

}

.header ul{
    
}

.header__nav ul {
    display: flex;
    justify-content: space-around;
    font-size: large;
}



.header__nav a{
    font-weight: bold;
    color: black;;
    
}

.header__nav a:hover{
    color: beige;
}


@media (min-width: 768px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        width: 50%;
    }
}





/* --- HERO SECTION --- */

.hero {
    height: 800px;
    background-image: url(../assets/grano_cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    text-align: center;
    background-color: rgba(218, 165, 32, 0.296);
    padding: 20px;
    border-radius: 20px;
}

.hero__text h2{
    color: black ;
}

.hero__text h3{
    color: #694f3d ;
    
}

.hero__text h2 {
    font-size: 3rem;
    padding: 15px;
}

.hero__text h3 {
    font-size: 2.20rem;
}



/* --- SEPARADOR ELEGIRNOS --- */








.elegirnos__titulo{
    background-color: rgba(218, 165, 32, 0.296);
    color: #694f3d;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.elegirnos{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: beige;
    
    
}

.tarjeta {
    width: 200px;
    height: 300 px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
    
    

    /* border: 2px solid black; */
}

.elegirnos__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.elegirnos__imagen{
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {

    .elegirnos__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }



}






/* --- FIN SEPARADOR ELEGIRNOS --- */

.footer {
    /* background-color: goldenrod; */
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(231,166,27,1) 100%);
    display: grid;
    width: 100vw;
    justify-content: center;
    justify-items: center;

    padding: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2,auto);

    grid-template-areas: 
    "footer__logo footer__info"
    "footer__contact__info footer__maps";

}

.footer__contact__info {
    /* border: black solid 2px; */
    width: 250px;
    height: 150px;
}

.footer__info {
    text-align: center;
    width: 250px;
    height: 150px;
}

.footer__info h4 {
    padding: 10px;
}

.footer__maps{
    overflow: auto;
    overflow-y: auto;
    border-radius: 15px;
}

.footer__logo {
    width: 120px;
    height: 120px;
    
}



.footer__boton__form {
    color: #694f3d;
    font-weight: bold;

}

.footer__boton__form:hover {
    color: beige;
}


@media (min-width: 768px) {

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


}





/* --- FIN SEPARADOR FOOTER --- */


/* --- SEPARADOR REDES HTML --- */

.redes {
    width: 100%;
    height: 800px;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: beige;
}

.caja_redes {
    /* background-color: blueviolet; */
    /* border: black 1px solid; */
    width: 20%;
    height: 80%;
    margin-top: 70px;
}



.img_redes {

    width: 100%;
    height: 100%;
    border-radius: 50px;

}


/* --- FIN SEPARADOR REDES HTML --- */


/* --- SEPARADOR NOSOTROS --- */

.nosotros {
    width: 100%;
    height: 900px;
    background-image: url("../assets/grano_cafe.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}







/* --- FIN SEPARADOR NOSOTROS --- */


/* --- SEPARADOR MENU --- */

.menu {
    height: 100vh;
}

.pdf {
    height: 100%;
    width: 100%;
}

/* --- FIN SEPARADOR MENU --- */


/* ---  SEPARADOR CONTACTO --- */

.contacto {
    background-color: burlywood;
    width: 100%;
    height: 600px;

}

.formulario {
    /* background-color: blue; */
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.formulario_columna {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;

}











/* --- FIN SEPARADOR CONTACTO --- */